---
layout: layout
category: posts
---
<head> 
  <meta name="p:domain_verify" content="4d6a27a954506f9217e605b79086389c"/>
</head>
<section class="content">
  <ul class="listing">
    {% for category in site.categories %}
    {% for post in site.categories[category_name] %}
      {% unless post.draft %}
      <li>
        <span>{{ post.date | date: "%B %e, %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endunless %}
    {% endfor %}
    {% endfor %}
  </ul>
</section>
