<section class="sidebar">
  <a href="/" aria-label="Avatar">
    <img src="{{ site.github.url }}/images/upcycle.png" height="75" width="75" class="avatar" />
  </a>

  <section class="name">
    <a href="/">
      <span id="fname">{{ site.name|split:' '|first }}</span>
      <span id="lname">{{ site.name|split:' '|last }}</span>
    </a>
  </section>

  <section class="meta">
    <a href="https://instagram.com/{{ site.instagram }}" target="_blank" title="Follow me on Instagram" aria-label="Follow me on Instagram"><i class="fa fa-instagram"></i></a>
    <a href="https://pinterest.com/{{ site.pinterest }}" target="_blank" title="Follow me on Pinterest" aria-label="Follow me on Pinterest"><i class="fa fa-pinterest"></i></a>
    <a href="mailto:email@upcycle.world" target="_blank" title="Email me" aria-label="Email me"><i class="fa fa-envelope"></i></a>
  </section>

  <section class="sections">
    <ul>
      <li><a href="/about.html">about</a></li>
      <li><a href="/blog/">posts</a></li>
      <li><a href="/work/">notebook</a></li>
    </ul>
  </section>
</section>
